{% extends 'masterpage.html' %}
{% load static %}
{% block title %}MY APPLICATION{% endblock title%}
{% block toolbar %}{% endblock toolbar %}
{% block contenido %}
	<h2> Welcome to my application</h2>
    <div class="card shadow mb-4">
        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Microcourses list</h6></div>
        <div data-bind="html: mensaje"></div>
        <div class="card-body">
            <div data-bind="visible:(listado()!=null && listado().length > 0)">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Course code</th>
                                <th>Workflow state</th>
                                <th>start date</th>
                                <th>end date</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:{data:listado, as:'item'}">
                            <tr>
                                <td data-bind="text: item.id" style="color:black"></td>
                                <td data-bind="text: item.name"></td>
                                <td data-bind="text: item.course_code"></td>
                                <td data-bind="text: item.workflow_state"></td>                                
                                <td data-bind="text: item.start_at"></td>
                                <td data-bind="text: item.end_at"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block imports %}

<script type="text/javascript" src="{% static 'js/ViewModels/microcourse/microcourse.js' %}"></script>
<script type="text/javascript" src='{% static "vendor/datatables/jquery.dataTables.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}'></script>

<script type="text/javascript">
    $(document).ready(function () {
        microcourse.consultar();
    });
</script>

{% endblock imports %}